<% content_for :title do %>
  <%= @building[:name] %>
<% end %>

<% content_for :header_links do %>
  <a href='/buildings'>Go Back</a>
<% end %>

<h1><%= @building[:name] %></h1>
<p><%== format_address(@building) %></p>

<ul>
  <% paginate(@apartments, @page).each do |apartment| %>
    <li>
      Apartment number: <%= apartment[:apartment_number] %> Rent: $<%= apartment[:rent] %> 
      <% if apartment[:tenant_name] %>
        Tenant: <%= apartment[:tenant_name] %>
      <% else %>
        <b>Vacant</b>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  <% if @page > 1 %>
    <a href='?page=<%= @page - 1 %>'>Previous page</a>
  <% end %>

  <ins>Page <%= @page %> of <%= last_page(@apartments) %></ins>

  <% if @page < last_page(@apartments) %>
    <a href='?page=<%= @page + 1 %>'>Next page</a>
  <% end %>
</div>

<div>
  <a href='/buildings/<%= @building[:id] %>/apartments/new'>Add apartment</a>
</div>

<div>
  <a href='/buildings/<%= @building[:id] %>/edit'>Edit building</a>
</div>