<% content_for :title do %>
  Buildings
<% end %>

<h1>Buildings</h1>

<ul style='list-style-type: none;'>
  <% @buildings.each do |building| %>
    <li>
      <a style='display: inline-block' href='/buildings/<%= building[:id] %>'>
        <h2><%= building[:name] %></h2>
        <p>Address: <%= building[:address] %></p>
      </a>
    </li>
  <% end %>
</ul>

<div>
  <% if @page > 1 %>
    <a href='/buildings/new'>Previous page</a>
  <% end %>
  <a href='?page=<%= @page %>'>Next page</a>
</div>

<div>
  <a href='/buildings/new'>Add building</a>
</div>

<div>
  <% if session[:username] %>
    <p>Signed in as: <%= session[:username] %></p>
    <form method='post' action='/users/signout'>
      <button type='submit'>Sign Out</button>
    </form>
  <% else %>
    <a href='/users/signin'>Sign in</a>
  <% end %>
</div>