<% content_for :title do %>
  <%= @building[:name] %>
<% end %>

<% content_for :header_links do %>
  <a href='/buildings'>Go Back</a>
<% end %>

<h1><%= @building[:name] %></h1>

<div>
  <a href='/buildings/<%= @building[:id] %>/edit'>Edit building</a>
</div>

<ul>
  <% paginate(@apartments, @page).each do |apartment| %>
    <li>
      Apartment number: <%= apartment[:apartment_number] %> Rent: $<%= apartment[:rent] %> 
      <% if apartment[:tenant_name] %>
        Tenant: <%= apartment[:tenant_name] %>
      <% else %>
        <b>Vacant</b>
      <% end %>
    </li>
  <% end %>
</ul>

<div>
  <% if @page > 1 %>
    <a href='?page=<%= @page - 1 %>'>Previous page</a>
  <% end %>

  <ins>Page <%= @page %> of <%= last_page(@apartments) %></ins>

  <% if @page < last_page(@apartments) %>
    <a href='?page=<%= @page + 1 %>'>Next page</a>
  <% end %>
</div>

<p>Add new apartment:</p>

<form method='POST' action='/buildings/<%= @building[:id] %>/apartments/new'>
  <div>
    <label for='apartment_number'>Apartment number:
      <input name='apartment_number' value='<%= params[:apartment_number] %>'></input>
    </label>
  <div>

  <div>
    <label for='rent'>Rent:
      <input name='rent' value='<%= params[:rent] %>'></input>
    </label>
  </div>

  <div>
    <label for='tenant'>Tenant name:
      <input name='tenant' value='<%= params[:tenant] %>'></input>
    </label>
  </div>

  <button type='submit'>Add new apartment</button>
</form>