<% content_for :title do %>
  <%= @building[:name] %>
<% end %>

<% content_for :header_links do %>
  <a href='/buildings'>Go Back</a>
<% end %>

<h1><%= @building[:name] %></h1>

<div>
  <a href='/buildings/<%= @building[:id] %>/edit'>Edit building</a>
</div>

<% if @apartments.any? { |apartment| apartment[:tenant_name] } %>
  <form method='POST' action='/buildings/<%= @building[:id] %>/evict_tenants' style='margin-top: 15px'>
    <button type='submit'>Evict all tenants</button>
  </form>
<% end %>

<ul>
  <% paginate(@apartments, @page).each do |apartment| %>
    <li>
      Apartment number: <%= apartment[:number] %> Rent: $<%= apartment[:rent] %> 
      <% if apartment[:tenant_name] %>
        Tenant: <%= apartment[:tenant_name] %>
      <% else %>
        <b>Vacant</b>
      <% end %>
      <a href='/buildings/<%= @building[:id] %>/apartments/<%= apartment[:id] %>/edit'>
        Edit
      </a>
    </li>
  <% end %>
</ul>

<div>
  <% if @page > 1 %>
    <a href='?page=<%= @page - 1 %>'>Previous page</a>
  <% end %>

  <ins>Page <%= @page %> of <%= last_page(@apartments) %></ins>

  <% if @page < last_page(@apartments) %>
    <a href='?page=<%= @page + 1 %>'>Next page</a>
  <% end %>
</div>

<p>Add new apartment?</p>

<form method='POST' action='/buildings/<%= @building[:id] %>'>
  <div>
    <label for='apartment_number'>Apartment number:
      <input name='apartment_number' id='apartment_number' value='<%= params[:apartment_number] %>'>
    </label>
  </div>

  <div>
    <label for='rent'>Rent:
      <input name='rent' id='rent' value='<%= params[:rent] %>'>
    </label>
  </div>

  <div>
    <label for='tenant'>Tenant name (if any):
      <input name='tenant' id='tenant' value='<%= params[:tenant] %>' id='tenant'>
    </label>
  </div>

  <button type='submit'>Add new apartment</button>
</form>