<% content_for :title do %>
  Edit <%= @building[:name] %>
<% end %>

<% content_for :header_links do %>
  <a href='/buildings/<%= @building[:id] %>'>Previous Page</a>
<% end %>

<h1>Editing <%= @building[:name] %></h1>

<form method='POST' action='/buildings/<%= @building[:id] %>/edit'>
  <div>
    <label for='name'>Building name:
      <input name='name' id='name' value='<%= params[:name] || @building[:name] %>'>
    </label>
  </div>
  
  <button type='submit'>Edit building</button>
</form>

<form method='POST' action='/buildings/<%= @building[:id] %>/delete'>
  <button type='submit'>Delete building</button>
</form>