<% content_for :title do %>
  Add new building
<% end %>

<% content_for :header_links do %>
  <a href='/buildings'>Previous Page</a>
<% end %>

<h1>Add New Building</h1>

<form method='POST' action='/buildings/new'>
  <%= display_form_input('Building name:', 'name', params[:name]) %>
  <p>Address information</p>
  <%= display_form_input('Number:', 'number', params[:number])%>
  <%= display_form_input('Street:', 'street', params[:street])%>
  <%= display_form_input('City:', 'city', params[:city])%>
  <div>
    <label for='state'>State:
      <select name='state'>
        <% STATES.each do |state| %>
          <option value='<%= state %>'><%= state %></option>
        <% end %>
      </select>
    </label>
  </div>
  <%= display_form_input('Zip code:', 'zip', params[:zip])%>
  <button type='submit'>Add building</button>
</form>