<h1>Rental Properties</h1>

<ul style='list-style-type: none;'>
  <% sort_properties(@properties) do |property| %>
    <li>
      <a href='/properties/<%= property[:id] %>'>
        <h2><%= property[:address] %></h2>
      </a>
      <p>Rent amount: $<%= property[:rent] %> 
        <% if property[:tenant] %>
          by tenant: <%= property[:tenant] %>
        <% else %>
          <b style='text-decoration: underline;'>vancant</b>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>

<% if session[:username] %>
  <p>Signed in as: <%= session[:username] %></p>
  <form method='post' action='/users/signout'>
    <button type='submit'>Sign Out</button>
  </form>
<% else %>
  <a href='/users/signin'>Sign in</a>
<% end %>